/* Styling for CodeHighlighter.js. */

.code-toolbar {
  position: relative;
}

.code-toolbar>.toolbar {
  position: absolute;
  right: var(--spacing-small);
  top: var(--spacing-small);
}

.code-toolbar>.toolbar button {
  cursor: pointer;
}

.code-toolbar code {
  padding-right: 2.5em;
  display: inline-block;
}
